html {
  background: black;
}

section.container div.mySlides img.simg {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.7;
  width: 100%;
  height: 100%
}

.ai1 {
  width: 100px;
  cursor: pointer;
  position: relative;

}

div#buttons {
  display: flex;
  justify-content: space-between;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  div#buttons {
    width: : 50%;
  }
}
